* {
    user-select: none;
    box-sizing: border-box;
    overflow-y: 0;
}

body,
.content-container {
    margin: 0;
    padding: 25px;
    height: 100%;
    width: 100%;
    background-color: rgb(247, 247, 248);

    .segmented-control {
        display: flex;
        cursor: pointer;

        .segmented-control-item {
            border: 2px solid black;
            border-right: 0;
            padding: 5px;

            &:hover {
                background-color: rgb(103, 174, 197);
                color: white;

                &:active {
                    background-color: rgb(18, 110, 106);
                }
            }

            &.selected {
                background-color: lightseagreen;
                color: white;
            }
        }

        .segmented-control-item:first-child {
            border-radius: 3px 0 0 3px;
        }

        .segmented-control-item:last-child {
            border-radius: 0 3px 3px 0;
            border-right: 2px solid black;
        }
    }

    .submit-button {
        cursor: pointer;
        border: 2px solid black;
        border-radius: 3px;
        padding: 5px;
        background-color: lightseagreen;
        color: white;

        &:not(.disabled) {
            &:hover {
                background-color: rgb(103, 174, 197);

                &:active {
                    background-color: rgb(18, 110, 106);
                }
            }
        }

        &.disabled {
            background-color: grey;
            cursor: default;
        }
    }
}