$red: rgb(103,15,18);
$white: #f5f5f9;
.D2ModMakerContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 800px;
    text-align: left;
    overflow: hidden;

    .D2ModMakerContainerInner {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
        width: 100%;
        height: 100%;
        overflow: auto;

        .SliderWrapper {
            padding-left: 35px;
            padding-right: 35px;
        }

        .MuiDivider-root {
            margin-top: 25px;
            margin-bottom: 25px;
        }
    }


    .HeaderText {
        color: $red;
        text-shadow: 2px 2px black;
        font-weight: 400;
        min-height: 95px;
    }

    .HeaderText2 {
        color: $red;
        text-shadow: 2px 2px black;
        font-weight: 400;
    }

    .rc-input-number {
        display: inline-flex;
        vertical-align: middle;
    }

    .help-icon {
        svg {
            transform: scale(0.8);
        }
    }
    .MuiFormControlLabel-root {
        margin-right: 3px;
    }
    #min-num-props, #max-num-props,{
        margin-bottom: 35px;
    }

    .run-btn {
        margin-bottom: 20px;
    }
}